@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font: 12px/1.5 "STHeiti","Microsoft YaHei","Helvetica Neue","Helvetica","SimSun","STSong","Arial","sans-serif";
	list-style-type: none;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	color: #333;
}
html, body{
	padding: 0;
    margin: 0;
    overflow: hidden;
    background: #ececec;
}


a:hover {
	text-decoration: none;
	color: #ccc;
}
a:link {
	text-decoration: none;
}
::selection {
	background: #777;
	color: #eee; /* Safari */
}
::-moz-selection {
background: #777777;
color: white; /* Firefox */
}
.main-container{
	position: absolute;
	top: 0;
	left: 0;
}



/* leftbar-lg */
.left-navigation{
	width: 230px;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}
@media only screen and (max-width: 767px){
	.left-navigation {
	    display: none;
	}
}
@media only screen and (min-width: 768px){
	.left-navigation {
	    width: 70px;
	}
	.navigation{
		display: none;
	}
	.navigation-sm{
		display: block;
	}
}
@media only screen and (min-width: 1200px){
	.left-navigation {
	    width: 230px;
	}
	.navigation{
		display: block;
	}
	.navigation-sm{
		display: none;
	}
}
.left-close .left-navigation{
	width: 70px;
}
.left-open .left-navigation{
	width: 230px;
}
.left-close .navigation{
	display: none;
}
.left-open .navigation{
	display: block;
}
.left-close .navigation-sm{
	display: block;
}
.left-open .navigation-sm{
	display: none;
}

.navigation{
	width: 100%;
	height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #1e262c;
}
.logo-box{
	width: 100%;
	height: 180px;
	background-color: #1e262c;
	overflow: hidden;
	position: relative;
	z-index: 1000;
}
.logo-box .logo-img{
	width: 180px;
	display: block;
	position: absolute;
	top: 22px;
	left: 20px;
}

.classify-box{
	width: 100%;
	padding: 12px 0 12px 14px;
    background-color: #0f1316;
    -webkit-box-shadow: 0 0 30px rgba(255,255,255,0.1);
    box-shadow: 0 0 30px rgba(255,255,255,0.1);
    overflow: hidden;
    position: relative;
    z-index: 1000;
}
.classify-box li{
	float: left;
	margin-right: 10px;
}
.classify-box li a{
	width: 60px;
	height: 26px;
	display: block;
	border-radius: 2px;
	font-size: 14px;
	color: #00a786;
	line-height: 26px;
	text-align: center;
	-moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.classify-box li a:hover{
	background-color: rgba(255,255,255,0.2);
	-moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.classify-box li .a-hover{
	background-color: rgba(255,255,255,0.15);
}



.nav-list-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 230px 0 100px 0;
}
.nav-list-box-scroll{
	width: 230px !important;
	height: 100% !important;
	position: relative;
	background-image: url(../images/bandeercheng.jpg); 
    background-repeat: no-repeat;
    background-position: right bottom;
}
.nav-list-box-inside{
	padding-top: 13px;
	padding-bottom: 6px;
}
.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}




.nav-list-box .nav-list-box-head{
	padding-left: 12px;
	color: #999;
	font-size: 14px;
	margin-bottom: 10px;
}
.nav-list-box .nav-list-box-list{
	padding-left: 13px;
	margin-bottom: 10px;
	overflow: hidden;
}
.nav-list-box-list li{
	float: left;
	margin:0 5px 5px 0;
}
.nav-list-box-list li a{
	width: 64px;
	height: 24px;
	display: block;
	border-radius: 2px;
	font-size: 100%;
	color: #ccc;
	line-height: 24px;
	text-align: center;
	background-color: rgba(255,255,255,0.15);
	-moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-list-box-list li a:hover{
	color: #fff;
	background-color: rgba(255,255,255,0.4);
	-moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}





.contribute-box{
	width: 100%;
	height: 100px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #0f1316;
    -webkit-box-shadow: 0 0 30px rgba(255,255,255,0.1);
    box-shadow: 0 0 30px rgba(255,255,255,0.1);
}
.contribute-box-button{
	display: block;
    width: 114px;
    height: 30px;
    font-size: 14px;
    line-height: 32px;
    margin: 0 auto 15px;
    color: #fff;
    text-align: center;
    background-color: #00a786;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 55px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.contribute-box-button:hover{
	background-color: #009966;
	color: #fff;
	-moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.contribute-box-button-2{
	width: 100%;
	height: 30px;
	position: absolute;
	top: 65px;
	padding-left: 11%;
}
.contribute-box-button-2 li{
	float: left;
	margin-right: 15px;
}
.contribute-box-button-2 li a{
	font-size: 100%;
	color: #ccc;
}
.left-navigation-button{
	width: 13px;
	height: 118px;
	position: absolute;
	top: 50%;
	left: 230px;
	margin-top: -58px;
}
.left-navigation-button a{
	display: block;
	width: 14px;
	height: 118px;
	background-image: url(../images/left-navigation-button.png);
	background-repeat: no-repeat;
	background-position: -30px 0;
}
.left-navigation-button a:hover{
	background-image: url(../images/left-navigation-button.png);
	background-position: -45px 0;
}

.navigation-sm{
	width: 100%;
	height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #1e262c;
}
.logo-sm-box{
	width: 100%;
	height: 115px;
	border-bottom: 1px solid #373737;
	background-color: #1e262c;
	overflow: hidden;
	position: relative;
	z-index: 1000;
}
.logo-sm-box .logo-sm-img{
	width: 50px;
	display: block;
	position: absolute;
	top: 18px;
	left: 10px;
}




.nav-list-sm-box{
	width: 100%;
	position: relative;
}
.nav-list-sm-box li{
	width: 100%;
	height: 80px;
	padding: 10px 0;
	border-bottom: 1px solid #373737;
}
.nav-list-sm-box li a .icon{
	width: 40px;
	height: 38px;
	display: block;;
	margin-left: 15px;
	background-image: url('../images/left-nav-sm.png');
	background-repeat: no-repeat;
	background-position-y: 0;
	-moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.nav-list-sm-box li a:hover .icon{
	background-position-y: -40px;
	-moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-list-sm-box li .icon-new{
	background-position-x: 0px;
}
.nav-list-sm-box li .icon-list{
	background-position-x: -399px;
}
.nav-list-sm-box li .icon-commentator{
	background-position-x: -158px;
}
.nav-list-sm-box li .icon-match{
	background-position-x: -280px;
}
.nav-list-sm-box li .icon-master{
	background-position-x: -119px;
}

.nav-list-sm-box li span{
	width: 100%;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	color: #898989;
	-moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.nav-list-sm-box li a:hover span{
	color: #00a786;
	-moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


.left-navigation-sm-button{
	width: 13px;
	height: 118px;
	position: absolute;
	top: 50%;
	left: 70px;
	margin-top: -58px;
}
.left-navigation-sm-button a{
	display: block;
	width: 14px;
	height: 118px;
	background-image: url(../images/left-navigation-button.png);
	background-repeat: no-repeat;
	background-position: -1px 0;
}
.left-navigation-sm-button a:hover{
	background-image: url(../images/left-navigation-button.png);
	background-position: -16px 0;
}





/* content */
.content {
	display: table;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    table-layout: fixed;
}
@media only screen and (max-width: 767px){
	.content {
	    padding-left: 0px;
	}
}
@media only screen and (min-width: 768px){
	.content {
	    padding-left: 90px;
	}
}
@media only screen and (min-width: 1200px){
	.content {
	    padding-left: 250px;
	}
}
.left-close .content{
	padding-left: 90px;
}
.left-open .content{
	padding-left: 250px;
}

.content-wrapper {
	position: relative;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 20px;
}
.left-content {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
    overflow: hidden;
}
@media only screen and (max-width: 767px){
	.left-content {
	    padding-right: 0px;
	}
}
@media only screen and (min-width: 768px){
	.left-content {
	    padding-right: 10px;
	}
	.right-open .left-content {
	    padding-right: 420px;
	}
}
@media only screen and (min-width: 992px){
	.left-content {
	    padding-right: 420px;
	}
}
.right-close .left-content{
	padding-right: 30px;
}

.top-navigation{
	width: 100%;
	height: 60px;
	margin-bottom: 20px;
	z-index: 1000;
	position: relative;
}
@media only screen and (max-width: 767px){
	.top-navigation {
	    padding-right: 0;
	    z-index: 0;
	}
}
@media only screen and (min-width: 768px){
	.top-navigation {
		padding-right: 10px;
	}
}
@media only screen and (min-width: 991px){
	.top-navigation {
	    padding-right: 10px;
	}
}

.top-navigation-wrapper{
	width: 100%;
	height: 60px;
	background-color: #fff;
	border: 1px solid #eee;
    border-radius: 0;
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.1);
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}
.game-icon{
	width: 100px;
	height: 60px;
	background-image: url(../images/lol-icon.jpg);
	background-position: left top;
	background-repeat: no-repeat;
}
.top-navigation-list{
	width: 100%;
	height: 60px;
	padding-left: 100px;
	padding-right: 420px;
	background-position: 0px -120px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}


.top-navigation-list li{
	float: left;
}
.top-navigation-list li a{
	display: block;
	width: 75px;
	height: 60px;
	font-size: 18px;
	line-height: 60px;
	text-align: center;
	-moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.top-navigation-list li a:hover, .top-navigation-list li .a-hover{
	color: #fff;
	background-color: #00a786;
	-moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.top-navigation-list .search-box{
	width: 300px;
	height: 60px;
	margin-left: 50px;
}
.search-box-left{
	width: 260px;
	height: 40px;
	margin-top: 10px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	float: left;
}
.search-box-input{
	width: 258px;
	height: 38px;
	padding-left: 7px;
	border: none;
	outline:none;
}
.search-box-button{
	width: 40px;
	height: 40px;
	margin-top: 10px;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ccc;
	cursor: pointer;
	float: right;
}



.main-content{
	position: relative;
}
.main-content-video-box{
	position: relative;
	background-color: #fcfcfc;
    border-radius: 0;
}
.video-title{
	width: 100%;
	height: 50px;
	position: relative;
	background-color: #fff;
	border: 0 solid #eee;
	border-left: 4px solid #00a786;
    border-radius: 0;
    margin-bottom: 0px;
    overflow: hidden;
}
.video-title h1{
	line-height: 50px;
	font-size: 20px;
	text-indent: 15px;
}
.video-view{
	width: 200px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
}

.video-view-num{
	width: auto;
	height: 50px;
	padding-right: 15px;
	text-align: right;
	float: right;
	position: relative;
}
.video-view-num span{
	line-height: 52px;
	font-size: 28px;
	font-family: Futura, “Trebuchet MS”, Arial;
	color: #fff;
	position: relative;
	z-index: 1000;
}
.video-view-bg{
	width: 200px;
	height: 200px;
	background-color: #00a786;
	transform: rotate(25deg);
	position: absolute;
	top: -50px;
	left: -25px;
}

.main-content-video-bg{
	width: 100%;
	z-index: -10;
}
.main-content-video-swf{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}
.main-content-video-swf embed{
	width: 100% !important;
	height: 100% !important;
}




.main-content-details{
	width: 100%;
	height: 40px;
	background-color: #fff;
	border: 0 solid #eee;
    border-radius: 0;
    margin-bottom: 15px;
}
.main-content-details-date{
	padding-left: 13px;
	line-height: 40px;
	font-size: 14px;
	color: #666;
	float: left;
}
.main-content-details-tags{
	padding-left: 25px;
	float: left;
}
.main-content-details-tags li{
	float: left;
	margin-right: 5px;
	line-height: 40px;
	font-size: 14px;
	color: #666;
}
.main-content-details-tags li a{
	display: block;
	margin-right: 5px;
	line-height: 40px;
	font-size: 14px;
	color: #666;
}
.main-content-video-list{
	width: 100%;
	height: 160px;
}







.right-content {
	width: 400px;
	height: 100%;
	padding-top: 80px;
	position: absolute;
	top: 0;
	right: 10px;
	box-sizing: border-box;
}
.right-content-wrapper{
	width: 100%;
	height: 100%;
	background-color: #fdfdfd;
	border: 1px solid #ececec;
}
@media only screen and (max-width: 767px){
	.right-content {
		width: 100%;
	    position: static;
	    top: auto;
	    right: auto;
	}
	.right-content-button{
		display: none;
	}
}
@media only screen and (min-width: 768px){
	.right-content {
		width: 100%;
		padding-right: 10px;
	    position: static;
	    top: auto;
	    right: auto;
	}
	.right-content-button{
		display: none;
	}
}
@media only screen and (min-width: 992px){
	.right-content {
		width: 400px;
	    display: block;
	    position: absolute;
		top: 0;
		right: 0px;
	}
	.right-content-button{
		display: block;
	}
	.right-open-button{
		display: none;
	}
}
.right-close .right-content{
	display: none;
}
.right-open .right-content {
    display: block;
}

.right-content-top{
	width: 100%;
	height: 0px;
}
.comment-box{
	width: 100%;
	padding: 0 10px 10px 12px;
}
.right-content-button{
	width: 14px;
	height: 124px;
	position: fixed;
	top: 50%;
	right: 400px;
	margin-top: -64px;
}
.right-content-button a{
	display: block;
	width: 14px;
	height: 124px;
	background-image: url(../images/right-content-button.png);
	background-repeat: no-repeat;
	background-position: 0px 0;
}
.right-content-button a:hover{
	background-image: url(../images/right-content-button.png);
	background-position: -14px 0;
}
.right-open-button{
	width: 14px;
	height: 124px;
	position: fixed;
	top: 50%;
	right: 10px;
	margin-top: -64px;
	display: none;
}
.right-open-button a{
	width: 14px;
	height: 124px;
	display: block;
	background-image: url(../images/right-content-button.png);
	background-repeat: no-repeat;
	background-position: 0px -124px;
}
.right-open-button a:hover{
	background-image: url(../images/right-content-button.png);
	background-position: -14px -124px;
}
.right-close .right-open-button{
	display: block;
}

@media only screen and (min-width: 768px){
	.right-open-button{
		display: none;
	}
}
@media only screen and (min-width: 992px){
	.right-open-button{
		display: none;
	}
}
.right-open .right-open-button {
    display: none;
}
.right-close .right-open-button {
    display: block;
}








#SOHUCS #SOHU_MAIN .module-cmt-list .block-cont-gw .msg-wrap-gw{
	padding: 0 0 0 50px !important; 
}




